.color-albea {
    background: #7787c3;
}

.green-albea {
    background: #b5ff91 !important;
}

.yellow-albea {
    background: #ffff99 !important;
}

.blue-albea {
    background: #d9f7ff !important;
}
