legend {
    border: none;
    color: inherit;
    font-size: inherit;
    margin-bottom: inherit;
    width: inherit;

    span {
        margin: 0 5px;
    }
}

fieldset {
    border-color: #eee !important;
    margin: 5px 0px;
    padding: .35em .625em .75em;
    border: 1px solid silver;
}