@charset "UTF-8";
/** Padrão tela **/
/** Portlets **/
/* line 3, sass/admin/pages/cenario.scss */
.portlet.light.portlet-fullscreen > .portlet-body {
  padding: 0px 0; }

/* line 7, sass/admin/pages/cenario.scss */
.portlet.light > .portlet-title {
  margin-bottom: 0px; }

/* line 11, sass/admin/pages/cenario.scss */
.portlet-fullscreen {
  overflow: auto; }

/** Fim - Portlets **/
/** Card direita **/
/* line 19, sass/admin/pages/cenario.scss */
.row-fixed {
  background: #7787c3;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  margin-bottom: 15px;
  color: #fff; }

/* line 27, sass/admin/pages/cenario.scss */
.portlet.color-albea .title {
  margin-top: .9em; }

/* line 31, sass/admin/pages/cenario.scss */
div.span.title-row-fixed {
  display: inline; }

/* line 35, sass/admin/pages/cenario.scss */
span.title-row-fixed {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase; }

/* line 42, sass/admin/pages/cenario.scss */
.title-row-fixed i {
  font-size: 1.1em !important;
  margin-right: 5px; }

/* line 47, sass/admin/pages/cenario.scss */
.title-row-fixed .fa-percent {
  font-size: .75em !important;
  margin-left: 0.4em; }

/* line 53, sass/admin/pages/cenario.scss */
small.title-row-fixed {
  font-weight: bold;
  font-size: 1em;
  display: none;
  text-indent: 2.1em; }

/* line 62, sass/admin/pages/cenario.scss */
.card-roteiro fieldset input {
  padding: 0 !important;
  height: calc(100% - 2px);
  font-size: 13px;
  color: black;
  text-align: right;
  width: 100%;
  border: none;
  background: inherit; }
  /* line 72, sass/admin/pages/cenario.scss */
  .card-roteiro fieldset input :focus {
    border: 1.1px inset #66afe9; }

/* line 77, sass/admin/pages/cenario.scss */
.card-roteiro fieldset .row {
  margin: 0;
  height: 25px; }
  /* line 81, sass/admin/pages/cenario.scss */
  .card-roteiro fieldset .row > div {
    background: #fff;
    height: 100%;
    padding-top: .3em; }
    /* line 86, sass/admin/pages/cenario.scss */
    .card-roteiro fieldset .row > div :first-child {
      color: #02a0ca;
      font-weight: bold;
      font-size: 12px; }
    /* line 92, sass/admin/pages/cenario.scss */
    .card-roteiro fieldset .row > div :not(:first-child) {
      text-align: center;
      color: #000; }
  /* line 98, sass/admin/pages/cenario.scss */
  .card-roteiro fieldset .row .right {
    text-align: right !important; }
  /* line 102, sass/admin/pages/cenario.scss */
  .card-roteiro fieldset .row .red {
    color: red !important;
    font-weight: bold; }

/* line 109, sass/admin/pages/cenario.scss */
.card-roteiro fieldset :not(:last-child) > div {
  margin-bottom: 5px; }

/* line 117, sass/admin/pages/cenario.scss */
.card-table-edit input, .card-table-edit select {
  border: none;
  width: calc(100% - 2em);
  color: black !important; }

/* line 124, sass/admin/pages/cenario.scss */
.card-table-edit table thead {
  color: #fff;
  background: #7787c3; }

/* line 132, sass/admin/pages/cenario.scss */
.card-table-edit table tbody tr td :first-child {
  color: #0ca4cc !important;
  font-weight: bold; }

/* line 138, sass/admin/pages/cenario.scss */
.card-table-edit table tbody tr td :not(:first-child) input {
  color: #000 !important; }

/* line 148, sass/admin/pages/cenario.scss */
.row-cabecalho span {
  color: #0ca4cc !important;
  text-transform: uppercase; }

/* line 153, sass/admin/pages/cenario.scss */
.exibirSub {
  cursor: pointer; }
